body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/6891094-abstrato-gradiente-fundo-azul-escuro-adequado-para-apresentacao-de-fundo-conceito-promocao-cartao-site-e-midia-social-vetor.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info-icon-container {
    position: absolute;
    top: 50px;
    left: 30px;
    z-index: 1000;
}

.info-icon-container .fas {
    color: #007bff;
    cursor: pointer;
}

.info-icon-container .fas:hover {
    color: #0056b3;
}

.custom-modal {
    max-width: 100%;
}

/* Adicione estas regras ao seu arquivo CSS */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
}

.cards {
    display: flex;
    flex-wrap: nowrap; /* Impede que os cards quebrem para a próxima linha */
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1400px; /* Ajuste conforme necessário */
    margin: 0 auto;
    text-align: center;
}

.card {
    flex: 1; /* Faz os cards crescerem igualmente */
    min-width: 350px; /* Largura mínima para cada card */
    background-color: #e6f7ff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.dif-proporcional-card {
    flex: 1.5; /* Dá um pouco mais de espaço para o card maior */
    min-width: 400px;
}

/* Mantenha o restante do seu CSS existente */

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: #590c47;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.periodos-container {
    display: flex;
    gap: 20px;
}

.periodo-container {
    flex: 1;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 5px;
}

.periodo-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.date-picker-group {
    display: flex;
    gap: 10px;
}

.date-picker {
    flex: 1;
}

.total-result {
    font-size: 20px;
    font-weight: bold;
    color: #006400;
    margin-top: 15px;
}

.footer {
    position: relative;
    padding: 10px 0;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    background: linear-gradient(135deg, #6f42c1, #007bff, #6f42c1);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
}

.footer-border {
    border-left: 3px solid #6c757d;
    border-right: none;
    padding: 0 15px;
    position: relative;
}

.footer-border::after {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    width: 6px;
    height: 100%;
    background-color: #6c757d;
}

.social-icons {
    float: right;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 5px 0;
    background: linear-gradient(135deg, #6f42c1, #007bff, #6f42c1);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.social-icons a {
    color: #e5e9ed;
    margin-left: 10px;
    font-size: 20px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.top-bar {
    background: linear-gradient(135deg, #6f42c1, #007bff, #6f42c1);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
    color: white;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    height: 25px;
}

.top-bar .container {
    max-width: 1200px;
    margin: 0 auto;
}